
.logo{
  position: relative;
  width: fit-content;
}

.arabic-name{
  font-family: var(--arabic-font);
  font-size: 48px;
}

.english-name{
  font-family: var(--english-font);
  position: absolute;
  right: -2px;
  bottom: -13px;
  font-size: 28px;
}

header{
  z-index: 30;
  position: fixed;
  top: 0;
  padding: 6px 0;
  width: 100%;
  margin: auto;
  background-color: transparent;
}

header a{
  color: white;
}

.update-header{
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  transition: all .3s ease-in;
}

.update-header .logo-link{
  color: black;
}

.update-links-color{
  color: black;
  transition: all .3s ease-in;
}

.update-links-color::before{
  background-color: black;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav{
  display: flex;
  gap: 1.2rem;
}

header nav a{
  position: relative;
  text-transform: capitalize;
}

header .close-icon,
header .menu-icon{
  display: none;
}


header nav a::before{
  content: "";
  position: absolute;
  bottom: -8px;
  width: 0%;
  height: 3px;
  transition: all .3s ease;
  background-color: white;
}

header nav a:hover::before{
  width: 100%;
}

@media screen and (max-width: 550px) {
  .header-content{
    max-width: 100%;
    padding: 5px 25px;
  }
  nav{
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4.5rem;
    width: 100%;
    height: 100vh;
    transition: all .3s ease-in;
    z-index: 20;
  }
  nav::before{
    content: "";
    position: absolute;
    inset: 0;
    background: url("../assets/zellige_marocain.png") no-repeat top/cover;
    filter: brightness(0.4);
    z-index: -1;
  }
  header nav a{
    font-size: 28px;
    font-weight: 600;
    text-align: start;
    z-index: 10;
  }
  .show-menu{
    left: 0;
  }
  .close-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: brightness(0) invert(1);
  }
 
  .menu-icon{
    cursor: pointer;
    filter: brightness(0) invert(1);
  }
  .update-icons{
    filter: brightness(0) invert(0);
    transition: all .3s ease-in;
  }
  
  header .close-icon,
  header .menu-icon{
    display: block;
  }
  .arabic-name{
    font-size: var(--headline-mobile);
  }
  .english-name{
    font-size: calc(var(--subheadline-mobile) - 2px);
    bottom: -12px;
  }
}


main{
  width: 100%;
  height: 70vh;
  text-align: center;
  position: relative;
  padding: 8rem 0;
  color: white;
}

.bg-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -99;
  position: absolute;
  inset: 0;
  filter: brightness(.5);
}

main h1{
  font-size: 56px;
  margin-top: 40px;
  margin-bottom: 20px;
}

main p{
  color: rgb(227, 227, 227);
  font-size: 16px;
}

main .search-input{
  width: 32rem;
  padding: 15px 10px;
  font-size: 16px;
  margin: 32px 0;
  outline: none;
  border-radius: 4px;
}

section{
  width: 100%;
  margin: 4rem 0;
}

section .cities{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
  gap: 12px;
  margin: 0 auto;
}

section .cities .citie-box{
  width: 410px;
  height: 280px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

section .cities .citie-box .citie-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
  filter: brightness(.6);
  transition: all .3s ease;
}

section .cities .citie-box .citie-image:hover{
  transform: scale(1.05);
}

section .cities .citie-box .citie-name{
  position: absolute;
  bottom: 16px;
  left: 18px;
  font-size: 26px;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
}

.msg{
  text-align: center;
  font-size: 18px;
  font-style: italic;
  width: 40rem;
  margin: 0 auto 7rem;
  word-spacing: 4px;
  line-height: 27px;
  display: none;
}

@media screen and (max-width: 550px) {
  main h1{
    font-size: 36px;
    margin-top: 50px;
  }
  main p{
    font-size: 14px;
    width: 96%;
    margin: auto;
  }
  main .search-input{
    width: 90%;
  }

  section{
    padding: 0 10px;
  }
  section .cities{
    width: 100%;
    justify-content: center;
    gap: 10px;
  }
  section .cities .citie-box{
    width: 90vw;
  }
  .msg{
    width: 100%;
  }
}