@media screen and (width <= 550px) {
  .header-content{
    max-width: 100%;
    padding: 5px 25px;
  }
  nav{
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4.5rem;
    width: 100%;
    height: 100vh;
    transition: all .3s ease-in;
    z-index: 20;
  }
  nav::before{
    content: "";
    background-image: url('../assets/zellige_marocain.png');
    position: absolute;
    inset: 0;
    filter: brightness(0.4);
    z-index: -1;
  }
  header nav a{
    font-size: 28px;
    font-weight: 600;
    text-align: start;
    z-index: 10;
    color: white;
  }
  header nav a::before{
    background-color: white;
  }
  .show-menu{
    left: 0;
  }
  .close-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: brightness(0) invert(1);
  }
  
  .menu-icon{
    cursor: pointer;
    filter: brightness(0) invert(1);
  }
  .update-icons{
    filter: brightness(0) invert(0);
    transition: all .3s ease-in;
  }
  
  header .close-icon,
  header .menu-icon{
    display: block;
  }
  .arabic-name{
    font-size: 40px;
  }
  .english-name{
    font-size: 23px;
    bottom: -12px;
  }
}