.logo{
  position: relative;
  width: fit-content;
}

.arabic-name{
  font-family: var(--arabic-font);
  font-size: 48px;
}

.english-name{
  font-family: var(--english-font);
  position: absolute;
  right: -2px;
  bottom: -13px;
  font-size: 28px;
}

header{
  z-index: 30;
  position: fixed;
  top: 0;
  padding: 6px 0;
  width: 100%;
  margin: auto;
  background-color: transparent;
}

header a{
  color: white;
}


.update-header{
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  transition: all .3s ease-in;
}

.update-header .logo-link{
  color: black;
}

.update-links-color{
  color: black;
  transition: all .3s ease-in;
}

.update-links-color::before{
  background-color: black;
}


.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav{
  display: flex;
  gap: 1.2rem;
}

header nav a{
  position: relative;
  text-transform: capitalize;
}

header .close-icon,
header .menu-icon{
  display: none;
}


header nav a::before{
  content: "";
  position: absolute;
  bottom: -8px;
  width: 0%;
  height: 3px;
  transition: all .3s ease;
  background-color: rgb(255, 255, 255);
}

header nav a:hover::before{
  width: 100%;
}